a{
 text-decoration: none; 
}
#logo{
  width: 100px;
  height: 100px;
  }
.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
.cardImg{
  width: 450px;
  height: 490px;
  transition: .2s ease;
  transition-property: transform,filter;
}

.cardImg1{
  width: 450px;
  height: 490px;
  transition: .2s ease;
  transition-property: transform,filter;
}
.cardImg2{
  height: 490px;
  transition: .2s ease;
  transition-property: transform,filter;
}
#nav-link{
  text-decoration: none;
  color:#151322;
  font-size: 22px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
}
#nav-link:focus,
#nav-link:hover {
  color: #32620E;
}
a.active{
  color: green;
}

#nav-link:focus:after,
#nav-link:hover:after {
  width: 100%;
  left: 0%;
}
#nav-link:hover:after {
  width: 100%;
  left: 0%;
}
#nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #32620E;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}